.grid-view-loading {
	background: url(loading.gif) no-repeat;
}

.grid-view table.items td,.grid-view table.items th {
	border: 1px solid #ddd;
}

.grid-view table.items {
	width: 100%;
	border-collapse: collapse;
}

.grid-view table.items td {
	padding: 0.2em;
	height: 22px;
}

.grid-view table.items th {
	text-align: center;
	height: 22px;
	padding: 0.2em;
}

.grid-view table.items th a {
	text-decoration: none;
}

.grid-view table.items th a:hover {
	
}

.grid-view table.items th a.asc {
	background: url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc {
	background: url(down.gif) right center no-repeat;
	padding-right: 10px;
}

/*.grid-view table.items tr.even
{
	background: #F8FBFC;
}*/

/*.grid-view table.items tr.odd
{
	background: #E5F1F4;
}*/
.grid-view table.items tr.selected { /*background: #BCE774;*/
	font-style: normal;
	font-weight: normal;
}

.grid-view table.items tr:hover { /*background: #ECFBD4;*/
	font-style: normal;
	font-weight: normal;
}

.grid-view .link-column img {
	border: 0;
}

.grid-view .button-column {
	text-align: center;
	width: 60px;
}

.grid-view .button-column img {
	border: 0;
}

.grid-view .checkbox-column {
	width: 15px;
}

.grid-view .summary {
	margin: 0 0 5px 0;
	text-align: right;
}

.grid-view .pager {
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty {
	font-style: italic;
}

.grid-view tfoot {
	font-style: normal;
}

.grid-view .filters input,.grid-view .filters select {
	width: 96%;
	border: 1px solid #ccc;
}