#status_offline {
	background-image: url('images/offline.gif');
	background-repeat: no-repeat;
	width: 94px;
	height: 15px;
}

#status_away {
	background-image: url('images/away.gif');
	background-repeat: no-repeat;
	width: 84px;
	height: 15px;
	cursor: pointer;
}

#status_dnd {
	background-image: url('images/away.gif');
	background-repeat: no-repeat;
	width: 84px;
	height: 15px;
}

#status_online {
	background-image: url('images/online.gif');
	background-repeat: no-repeat;
	width: 90px;
	height: 15px;
	cursor: pointer;
}