/* 
    Document   : yRssTwitter
    Created on : 16-jul-2012, 11:34:02
    Author     : Why Not Soluciones, S.L.
    Description:
        Stylesheet for yRssTwitter Yii Extension
*/

#yRssTwitter .yRssTwitter-header {
    width: 220px;
    height: 50px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

#yRssTwitter .yRssTwitter-header-left {
    float: left;
    width: 50px;
    height: 100%;
}

#yRssTwitter .yRssTwitter-header-right {
    float: left; 
    height: 100%;
    width: 170px;
}


#yRssTwitter .yRssTwitter-header .yRssTwitterDisplayName {
    padding-top: 10px;
    padding-right: 10px;
    font-size: 12px;
    text-align: right;
}

#yRssTwitter .yRssTwitter-header .yRssTwitterUserName {
    padding-right: 10px;
    font-size: 18px;
    text-align: right;
}

#yRssTwitter .yRssTwitter-entry {
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px dotted black;
    clear: both;
}

#yRssTwitter .yRssTwitter-entry-last {
    border: none;
}

#yRssTwitter .yRssTwitter-span {
    font-size: 10px;
}

#yRssTwitter .yRssTwitter-footer {
    width: 100%;
    height: 10px;
}