table.detail-view .null {
	color: pink;
}

table.detail-view {
	border-collapse: collapse;
	width: 100%;
}

table.detail-view th,table.detail-view td {
	border: 1px solid #ddd;
	padding: 0.3em 0.6em;
	vertical-align: top;
}

table.detail-view th {
	text-align: right;
	width: 160px;
}

/*table.detail-view tr.odd
{
	background:#E5F1F4;
}

table.detail-view tr.even
{
	background:#F8FBFC;
}*/

/*table.detail-view tr.odd th
{
	background:#E1EBF0;
}*/

/*table.detail-view tr.even th
{
	background:#E5F1F4;
}
*/